.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  .background-img {
    position: fixed;
    height: 100vh;
    z-index: -2;
  }
  
  .title {
    z-index: 1;
    position: fixed;
    background-color: rgba(10, 10, 10, 0.5);
    top: 2vh;
    left: 10vw;
    width: 50vw;
    box-shadow: 0px 0px 100px 2px rgb(10, 10, 10) inset;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
  }
}

.widget-container {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 15vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  
  .widget-subdivide-1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .widget-subdivide-2 {
    display: grid;
  }
}

.widget {
  background-color: rgba(10, 10, 10, 0.5);
  box-shadow: 0px 0px 1000px 10px rgb(10, 10, 10) inset;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
}

@media screen and (min-width: 800px) {
  
  .background-img {
    width: 100vw;
  }
  
  .widget-container {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    
    .widget-subdivide-1 {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem;
    }
    
    .widget-subdivide-2 {
      display: grid;
    }
  }
}